{% extends 'accounts/another_base.html' %}
{% block content %}

<div class="row">
    <div class="col-3">
        <div class="welcome">
            <h1 class="welcome__header">Here you enter your Email</h1>
            <p class="welcome__message">
            To receive an email you must make sure that the entered email is correct , all the instruction that must be followed will be sent to the email shortly    
            </p>
        </div>
    </div>
    <div class="col-9">
<div class="card">
    <h3 class="card__title">
		Password Reset!
        <hr>
	</h3>
<form class="form" method="POST">
    {% csrf_token %}

    <input 
        type="email" 
        name="email" 
        autocomplete="email" 
        maxlength="254"
        required id="id_email"
        placeholder="Enter Email"
        class="form__input" 
    />

    <input type="submit" name="Send Email" value="Submit Email" class="form__button">
  

</form>
<div class="card__footer" >
    <button class="btn btn-primary" style="background-color: #006a57; border: none;">
        <a  style="color: rgb(255, 255, 255);" href="{% url 'accounts:login' %}">Back To Login</a>
    </button>
    
</div>
</div>
</div>
</div>

{% endblock %}
